{% extends 'registration/base.html' %}

{% block page_title %}
    تغییر گذرواژه
{% endblock %}
{% block title %}
    تغییر گذرواژه
{% endblock %}
{% block main %}
    <style>

        * {
            font-family: "2  Homa", sans-serif;
        }
    </style>
    <div class="row">
        <div class="col-md-8 text-center mx-auto ">
            <div class="card card-success">
                <div class="card-success">
                    <h3 class="card-title float-left mb-0">تغییر گذرواژه</h3>
                </div>
                <div class="card-body">
                    <p>
                        گذرواژه با موفقیت تغییر یافت
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}