{% extends 'shared/main_layout.html' %}
{% block title %}
    بازیابی رمز عبور
{% endblock %}
{% block content %}
    <div class="container" style="font-family: '2  Homa',sans-serif">
        <section id="form"><!--form-->
            <div class="row">
                {% if form.non_field_errors %}
                    <div class="error">
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}

                    </div>
                {% endif %}
                <div class="col-md-4  col-md-offset-4 justify-content-center">
                    <div class="login-form"><!--login form-->
                        <h2 style="font-family: '2  Homa',sans-serif">بازیابی رمز عبور :</h2>
                        <form method="post">
                            {% csrf_token %}
                            <span class="focus">ایمیل :</span>
                            {{ form.email }}
                            {% if form.email.errors %}
                                <div class="error">
                                    {% for error in form.email.errors %}
                                        <p class="alert alert-danger">{{ error }}</p>
                                    {% endfor %}

                                </div>
                            {% endif %}
                            <button style="font-family: '2  Homa',sans-serif" type="submit" class="btn btn-default">
                                ارسال لینک بازیابی
                            </button>
                        </form>
                    </div><!--/login form-->
                </div>
            </div>
        </section>
    </div>
{% endblock %}