{% extends 'shared/main_layout.html' %}
{% block title %}
    بازیابی رمز عبور
{% endblock %}
{% block content %}
    <style>
        .row {
            margin-bottom: 5%;
        }
        .card-title{
            margin-right: 3%;
            color: orangered;
        }
    </style>
    <div class="row my-4" style="font-family: '2  Homa',sans-serif">
        <div class="col-md-6 col-md-offset-3">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">تقاضای بازیابی رمز عبور فرستاده
                        شد</h3>
                </div>
                <div class="card-body">
                    <p class="alert alert-primary">
                        ما دستورالعمل هایی را برای تنظیم رمز عبور خود به شما ایمیل کرده ایم.اگر حساب
                        کاربری با ایمیلی که
                        وارد کرده اید وجود داشته باشد باید به زودی آنها را دریافت کنید.
                        <br>
                        اگر ایمیلی دریافت نکردید ، لطفاً آدرسی را که وارد کرده اید را با آدرسی که
                        ثبت نام کرده اید بررسی
                        کنید و پوشه هرزنامه خود
                        را بررسی کنید
                    </p>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
{% endblock %}