{% extends 'shared/main_layout.html' %}
{% block title %}
    بازیابی رمز عبور
{% endblock %}
{% block content %}
    <style>
        .row {
            margin-bottom: 5%;
        }

        .card-title {
            margin-right: 3%;
            color: orangered;
        }
        a.link{
            text-decoration: None;
            color: red;
        }
        a.link:hover{
            color: blue;
        }
    </style>
    <div class="row my-4" style="font-family: '2  Homa',sans-serif">
        <div class="col-md-6 col-md-offset-3">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">گذرواژه جدید ایجاد شد</h3>
                </div>
                <div class="card-body">
                    <p class="alert alert-primary">
                        گذرواژه جدیدتان تنظیم شد. اکنون می‌توانید وارد <a class="link" href="{% url 'account:profile' %}">وب‌گاه</a> شوید.
                    </p>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
{% endblock %}