{% extends 'shared/main_layout.html' %}
{% block title %}
    بازیابی رمز عبور
{% endblock %}
{% block content %}
    <style>
    a.link{
        text-decoration: None;
        color: red;
    }
    a.link:hover{
        color: green;
    }
    </style>
    <div class="container" style="font-family: '2  Homa',sans-serif">
        <section id="form"><!--form-->
            <div class="row">
                {% if form.non_field_errors %}
                    <div class="error">
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}

                    </div>
                {% endif %}
                <div class="col-md-4  col-md-offset-4 justify-content-center">
                    <div class="login-form"><!--login form-->
                        <h2 style="font-family: '2  Homa',sans-serif">بازیابی رمز عبور :</h2>
                        <form method="post">
                            {% csrf_token %}
                            {% if validlink %}
                                <span class="focus">گذرواژه :</span>
                                {{ form.new_password1 }}
                                {% if form.new_password1.errors %}
                                    <div class="error">
                                        {% for error in form.new_password1.errors %}
                                            <p class="alert alert-danger">{{ error }}</p>
                                        {% endfor %}

                                    </div>
                                {% endif %}
                                <span class="focus">تایید گذرواژه :</span>
                                {{ form.new_password2 }}
                                {% if form.new_password2.errors %}
                                    <div class="error">
                                        {% for error in form.new_password2.errors %}
                                            <p class="alert alert-danger">{{ error }}</p>
                                        {% endfor %}

                                    </div>
                                {% endif %}
                                <button style="font-family: '2  Homa',sans-serif" type="submit" class="btn btn-default">
                                    تایید
                                </button>
                            {% else %}
                                <p>لینک منقضی شده است. برای بازیابی رمز عبور <a class="link" href="{% url 'password_reset' %}">کلیک کنید</a></p>
                            {% endif %}
                        </form>
                    </div><!--/login form-->
                </div>
            </div>
        </section>
    </div>
{% endblock %}