{#{% extends 'shared/shop_layout.html' %}#}
{##}
{#{% block shop_content %}#}
{#    <div class="col-sm-9 padding-right">#}
{#        <div class="features_items"><!--features_items-->#}
{#            <h2 class="title text-center">مقالات</h2>#}
{#            {% for article in object_list %}#}
{##}
{#                <div class="col-sm-4" style="font-family: '2  Farnaz',sans-serif">#}
{#                    <div class="product-image-wrapper">#}
{#                        <div class="single-products">#}
{#                            <div class="productinfo text-center">#}
{#                                <img src="{{ article.thumbnail.url }}" style="height: 30vh" alt=""/>#}
{#                                <h2>{{ article.title }}</h2>#}
{#                                <p>نوشته شده توسط : علیرضا</p>#}
{#                                <p>در تاریخ {{ article.jpublish }}</p>#}
{#                                <a href="{% url 'blog:article' article.slug %}"#}
{#                                   class="btn btn-default add-to-cart"><i#}
{#                                        class="fa fa-shopping-cart"></i>نمایش</a>#}
{#                            </div>#}
{#                            <div class="product-overlay">#}
{#                                <div class="overlay-content">#}
{#                                    <h2>{{ article.title }}</h2>#}
{#                                    <p>{{ article.description|truncatewords:10 }}</p>#}
{#                                    <p>نوشته شده توسط : <a href="#">علیرضا</a></p>#}
{#                                    <a href="{% url 'blog:article' article.slug %}"#}
{#                                       class="btn btn-default add-to-cart"><i#}
{#                                            class="fa fa-shopping-cart"></i>نمایش</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="choose">#}
{#                            <ul class="nav nav-pills nav-justified">#}
{#                                <li><p class="text-primary">دسته بندی : {% for cat in article.category.active %}#}
{#                                    <a href="{% url 'category:category' cat.slug %}"> #{{ cat.title }}</a>#}
{#                                {% endfor %}</p></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            {% endfor %}#}
{##}
{##}
{#            {% if is_paginated %}#}
{#                <ul class="pagination">#}
{#                    {% if page_obj.has_previous %}#}
{#                        <li><a href="{% url 'blog:article_list' %}?page={{ page_obj.previous_page_number }}">&rArr;</a>#}
{#                        </li>#}
{#                    {% endif %}#}
{#                    {% for i in page_obj.paginator.page_range %}#}
{#                        {% if page_obj.number == i %}#}
{#                            <li class="active"><span>{{ i }}</span></li>#}
{#                        {% else %}#}
{#                            <li><a href="?page={{ i }}">{{ i }}</a></li>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                    {% if page_obj.has_next %}#}
{#                        <li><a href="{% url 'blog:article_list' %}?page={{ page_obj.next_page_number }}">&lArr;</a></li>#}
{#                    {% endif %}#}
{#                </ul>#}
{#            {% endif %}#}
{#        </div><!--features_items-->#}
{#    </div>#}
{#{% endblock %}#}






{% extends 'shared/list.html' %}
{% block title %}مقالات{% endblock %}
{% block previous_page_url %}{% url 'blog:article_list' %}{% endblock %}
{% block next_page_url %}{% url 'blog:article_list' %}{% endblock %}